---
import he from 'he';
// Components
import DropdownLinks from "../components/DropdownLinks.astro";

//  Images
import ToggleArrow from "../assets/img/toggle-arrow.png";

const { heading, Label } = Astro.props;
const cleanHeading = he.decode(heading); // decode &amp; to &
const filters = encodeURIComponent(JSON.stringify([
  ["post_category", "=", cleanHeading],
  ["status", "=", "publish"]
]));
const API_URL = import.meta.env.PUBLIC_ApiUrl;
const BlogResponse = await fetch(
  `${API_URL}/api/resource/Simprosys%20Blog?fields=["*"]&filters=${filters}&order_by=%60order%60%20asc&limit_page_length=1000`,
  {
    method: "GET",
    headers: {
      Authorization: `token ${import.meta.env.PUBLIC_ApiKey}:${import.meta.env.PUBLIC_SecretKey}`,
    },
  }
);
const BlogJson = await BlogResponse.json();
const Blog = BlogJson.data || [];
const BlogCount = Blog.length;

---

{
  BlogCount > 0 && (
    <div class="cursor-pointer border-b">
      <div class="dropdown flex items-center px-2 py-4 xl:px-4 xl:py-6 justify-between">
        <h2 class="text-xl xl:text-2xl font-medium">{Label}</h2>
        <button class="toggle-button p-0 bg-transparent">
          <img
            class="arrow-icon w-6 h-6 max-w-none"
            src={ToggleArrow.src}
            alt="Toggle Arrow"
          />
        </button>
      </div>
      <div class="toggle-section px-2 py-2.5 xl:pt-0 xl:px-4 xl:pb-6 hidden">
        <ul class="font-medium text-sm  xl:text-[16px] 2xl:leading-[42px] text-[#55575A] list-disc px-5">
          {
            [...Blog]
              .sort(
                (a: any, b: any) =>
                  (Number(a.order) || 0) - (Number(b.order) || 0)
              )
              .map((item: any) => (
                <DropdownLinks
                  hrefLink={item.slug}
                  Label={item.blog_title}
                />
              ))
          }
        </ul>
      </div>
    </div>
  )
}