---
import Platform from "../components/Platform.astro";
import PlatformCards from "../components/PlatformCards.astro";
import MobilePlatform from "../components/MobilePlatform.astro";

const api_URL = import.meta.env.PUBLIC_ApiUrl;

// Assuming the necessary setup for token and API URL
const api_url = `${api_URL}/api/resource/Simprosys%20Post%20Category?fields=["*"]&filters=[["category_criteria","=","Platform"],["status","=","publish"]]&order_by=\`order\` asc`;

const Platform_data_api = await fetch(api_url, {
  method: "GET",
  headers: {
    Authorization: `token ${import.meta.env.PUBLIC_ApiKey}:${import.meta.env.PUBLIC_SecretKey}`,
  },
});

const Platform_data_json = await Platform_data_api.json();
const Platform_data = Platform_data_json.data; // Get the data from the response

// Getting the first platform
const first_platform = Platform_data.length > 0 ? Platform_data[0].post_category_name : "";


const {heading} = Astro.props;
---

<section
  class="mt-[30px] sm:mt-[50px] md:mt-[64px] lg:mt-[70px] xl:mt-[85px] 2xl:mt-[140px] "
>
  <div class="mx-[20px] md:mx-[26px] 2xl:mx-[125px] lg:mx-[50px] space-y-10">
    <h2 class="text-3xl sm:text-[42px] lg:text-5xl font-light text-[#25282B]">
      {heading}
    </h2>
    <div
      class="py-2 lg:py-0 platform space-y-4 md:space-y-0 md:grid md:grid-cols-4 mt-[48px] gap-8 sm:w-full lg:h-[100px] xl:h-[117px] content-center rounded-2xl"
    >
      {
        Platform_data.map((platform:any) => (
            <MobilePlatform
                platformName={platform.post_category_name}
                dataPlatform={platform.name}
                active={platform.post_category_name === `${first_platform}` ? "active-button" : ""}
                classButton="button-platform"
            />
            <PlatformCards
                dataPlatform={platform.name}
                Display={platform.post_category_name === `${first_platform}` ? "grid;" : "none;" }
                classButton="platform-mobile-content p-4 border border-[#a7bbc9] !mt-0 border-t-[0px] rounded-tl-none rounded-b-xl rounded-tr-none bg-[#f6fbff]"
            />
        ))
      }
    </div>
    <!-- Cards Section Start -->
  </div>
</section>
<!-- Support Section End -->

<script src="../../src/assets/static/mobile-support.js"></script>
